@media (max-width: 1000px) {
  nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  nav li a:hover {
    display: block;
    font-weight: bold;
    background-color: white;
    border-radius: 10px 10px;
    text-align: center;
    width: 100%;
  }

  nav {
    display: none;
  }
  nav ul {
    display: inline-block;
    width: 100%;
  }
  .hamburger-icon {
    color: black;
    padding: 10px;
    font-size: 1.5em;
    display: block;
  }
  #hamburger-menu:checked ~ nav {
    display: inline-block;
    width: 100%;
  }
  img {
    width: 100%;
  }
  .header-grid {
    display: flex;
    flex-direction: column;
  }
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 200px;
  }

  .footermain-grid {
    display: flex;
    flex-direction: column;
  }
  div {
    width: 100%;
  }

  .searchbar {
    text-align: center;
  }
  .searchbar input {
    width: 200px;
    height: 39px;
    transition: width 2s ease-out;
  }
  .searchbar input:focus {
    width: 100%;
  }
  footer ul {
    padding: 10px;
  }
  .mainhome-grid {
    display: flex;
    flex-direction: column;
  }
  .mainpage-article {
    display: flex;
    flex-direction: column;
  }

  .frontpage-img1,
  .frontpage-img2 {
    padding: 10px;
  }
  .explore-maingrid {
    display: flex;
    flex-direction: column;
  }
  .explorefooter-grid {
    display: flex;
    flex-direction: column;
  }
  .exhibitions-grid {
    display: flex;
    flex-direction: column;
  }
  .eventspage-grid {
    display: flex;
    flex-direction: column;
  }
  .eventspage-grid div {
    padding: 20px;
  }
  .eventsfooter-grid {
    display: flex;
    flex-direction: column;
  }
  .getinvolved-grid {
    display: flex;
    flex-direction: column;
  }
}
