@media (max-width: 800px) {
  nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
  }
  nav a:hover {
    font-weight: bold;
  }
  nav li {
    display: inline-block;
  }

  .hamburger-label {
    float: right;
    color: black;
    padding: 10px;
    font-size: 1.5em;
    display: block;
  }
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  .header-grid {
    display: flex;
    flex-direction: column;
  }
}
