@media (max-width: 1000px) {
  nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
  }
  h1 {
    text-align: center;
  }
  nav a:hover {
    font-weight: bold;
    background-color: white;
    border-radius: 10px 10px;
  }
  nav {
    display: none;
  }
  nav ul {
    display: inline-block;
  }
  .hamburger-label {
    color: black;
    padding: 10px;
    font-size: 1.5em;
    display: block;
  }
  #hamburger-menu:checked ~ nav {
    display: inline-block;
  }
  .header-grid {
    display: flex;
    flex-direction: column;
  }
  .logo {
    align-self: center;
  }
  .footermain-grid {
    display: flex;
    flex-direction: column;
  }
  .mainhome-grid {
    display: flex;
    flex-direction: column;
  }
  .mainpage-article {
    display: flex;
    flex-direction: column;
  }

  .frontpage-img1,
  .frontpage-img2 {
    padding: 10px;
  }
  .explore-maingrid {
    display: flex;
    flex-direction: column;
  }
  .explorefooter-grid {
    display: flex;
    flex-direction: column;
  }
}

/*media flex for exhibitons page because of bigger pictures.*/
@media (max-width: 1230px) {
  .exhibitions-grid {
    display: flex;
    flex-direction: column;
  }
}
