@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}
body {
  font-family: "Open Sans", arial, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f0d5;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
}
.logo {
  align-self: start;
}
.desktop-nav {
  align-self: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav li {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: black;
}
#hamburger-menu {
  display: none;
}
nav a:hover {
  font-weight: bold;
}
ul {
  list-style-type: none;
}
.searchbar {
  grid-column-start: 3;
  grid-column-end: 5;
  align-self: flex-end;
  padding: 10px;
}
.searchbar input {
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: none;
}

form i {
  position: absolute;
  padding: 10px;
}
.hamburger-label {
  display: none;
}

footer {
  background-color: #272834;
  margin: 0;
  padding: 40px;
  width: 100%;
}
footer p {
  color: white;
  padding: 10px;
}
.mainhome-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(300px, 1fr);
  margin: 20px;
  justify-items: center;
}
.mainpage-article {
  grid-column: span 2;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding: 20px;
}

.frontpage-img1,
.frontpage-img2 {
  border-radius: 20px;
}

.footermain-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-items: center;
}

/*explore page 2*/

.explore-maingrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(150px, auto);
  grid-gap: 50px;
  padding: 15px;
}

.explore-container h3,
img,
p {
  padding: 10px;
  border-radius: 20px;
}

.explorefooter-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/*exhibition*/

.exhibitions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(150px, auto);
  grid-gap: 15px;
}

.exhibitions-grid div,
p {
  padding: 5px;
}
