@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}
body {
  font-family: "Open Sans", arial, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f0d5;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
}
.item-a {
  align-self: start;
}
.item-b {
  align-self: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

.mainhome-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

footer {
  background-color: #272834;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p {
  color: white;
  padding: 10px;
}
.footermain-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-items: center;
}

@media (max-width: 800px) {
}
